/GasCheckAlarmWinform/GasCheckAlarmSystem/bin
/GasCheckAlarmWinform/.vs
/BulkInsert/.vs
/BulkInsert/ConsoleApplication1/obj
/GasCheckAlarmWinform/GasCheckAlarmSystem/obj
/SqlLibrary/.vs
/SqlLibrary/SqlLibrary/obj
/SqlLibrary/SqlLibrary/bin
